[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
